@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* Links */

a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.main_div {
  font-family: "Roboto", sans-serif;
}

.product_div{
    display: flex;
    margin: 30px 0 40px 50px;
}

.card_product{
    border: 4px solid black;
    margin: 0 20px 0 200px;
    width: 400px;
    height: 300px;
}

.title{
    font-size: 18px;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.div_buttons{
    display: flex;
}

.span_button{
    border: 2px solid black;
    border-radius: 5px;
    margin: 12px 0 5px 165px;
    cursor: pointer;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_button:hover {
    color: white;
    background-color: black;
}

.img_card{
    cursor: pointer;
}




@media (min-width:1800px) and (max-width: 2000px){
   
    .main_title{
        margin: 80px 0 0 835px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 100px 0 70px 920px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 410px;
    }
    .card_title{
        
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }

}

@media (min-width:1700px) and (max-width: 1800px){
    .main_title{
        margin: 80px 0 0 720px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 100px 0 70px 805px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 200px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }

    
}

@media (min-width:1650px) and (max-width: 1700px){
    .main_title{
        margin: 80px 0 0 720px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 100px 0 70px 800px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 340px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1570px) and (max-width: 1650px){
    .main_title{
        margin: 80px 0 0 650px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 730px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 320px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1480px) and (max-width: 1570px){
    .main_title{
        margin: 80px 0 0 620px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 695px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 260px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1360px) and (max-width: 1480px){
    .main_title{
        margin: 80px 0 0 570px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 650px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 220px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1270px) and (max-width: 1360px){
    .main_title{
        margin: 80px 0 0 520px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 600px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 180px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1140px) and (max-width: 1270px){
    .main_title{
        margin: 80px 0 0 460px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 530px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 130px;
    }
    .card_title{
        margin: 25px 35px 0 35px;
    }
    .img_card{
        width: 200x;
        height: 300px;
    }
}

@media(min-width: 1050px) and (max-width: 1140px){
    .main_title{
        margin: 80px 0 0 380px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 460px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 120px;
    }
    .card_title{
        margin: 25px 15px 0 15px;
    }
    .img_card{
        width: 150x;
        height: 250px;
    }
}

@media(min-width: 950px) and (max-width: 1050px){
    .main_title{
        margin: 80px 0 0 320px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 390px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 120px;
    }
    .card_title{
        margin: 25px 15px 0 15px;
    }
    .img_card{
        width: 150x;
        height: 250px;
    }
}

@media(min-width: 840px) and (max-width: 950px){
    .main_title{
        margin: 80px 0 0 280px;
        font-size: 25px;
    }
    .input_groupe{
        margin: 70px 0 50px 360px;
        display: flex;
        border: 1px solid black;
        width: 200px;
        height: 30px;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }

    .prdouct_card{
        display: flex;
        margin: 30px 0 30px 80px;
    }
    .card_title{
        margin: 25px 7.5px 0 7.5px;
    }
    .img_card{
        width: 150x;
        height: 250px;
    }
}

